[submodule "Elementv5"]
	path = Elementv5
	url = https://github.com/VirxEC/Elementv5.git
[submodule "csharp-example"]
	path = csharp-example
	url = https://github.com/VirxEC/csharp-example.git
[submodule "RLBot-Beast"]
	path = RLBot-Beast
	url = https://github.com/NicEastvillage/RLBot-Beast.git
